@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url(../images/bg-pattern-desktop.svg);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  overflow: hidden;
  color: var(--desaturated-red);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.container__info {
  max-width: 500px;
  margin: 0 auto;
  align-self: center;
}

.container__info .container__logo {
  padding-bottom: 10rem;
}

.container__info h1 {
  font-size: 65px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.container__info p {
  margin: 2rem 0;
  line-height: 1.8rem;
}

.container__img img {
  width: 100%;
  height: 100vh;
}

h1 span {
  color: black;
  font-weight: 600;
}

.container__cta {
  display: flex;
}

input[type='email'] {
  border-radius: 30px;
  border: 1px solid var(--desaturated-red);
  padding: 0.8rem 1rem;
  color: var(--desaturated-red);
  width: 100%;
}

button {
  border: none;
  margin-left: -4rem;
  border-radius: 30px;
  background-image: var(--gradient2);
  padding: 0.8rem 2rem;
  box-shadow: 0 9px 28px hsl(0, 36%, 70%), 0 5px 7px hsl(0, 80%, 86%);
}

@media (max-width: 750px) {
  body {
    overflow: auto;
  }
  .container {
    flex-direction: column-reverse;
  }
}
